body {
	font-family: 'Open Sans', Helvetica, 'Helvetica Neue', sans-serif;
	margin: 0 auto;
	margin-bottom: 56px;
	font-size: 14px;
	line-height: 19px;
	font-weight: 300;
}

#links>a,
#links>a:visited,
#links>a:active{
	color: #000000;
	text-decoration: none;
	letter-spacing: .05em;
	text-transform: uppercase;
	font-size: 12px;
}

.project_info>p>a,
.project_info>p>a:visited,
.project_info>p>a:active{
	color: #000000;
	text-decoration: underline;
}

.project_paragraph>a,
.project_paragraph>a:visited,
.project_paragraph>a:active {

	color: #fd6d6d;
	text-decoration: none;
}

#links>a:hover{
	border-bottom: 1px solid #d0d0d0;
}

.home,
.project_page{
	width: 95%;
	/*width: 100%;*/
	max-width: 840px;
}

.project_info {
	width: 90%;
	/*max-width: 840px;*/
	margin: 56px auto;
}

#header, #footer {
	margin: 56px auto 56px auto;
}

#header_container,
#footer_container {
	text-align: center;
	margin-bottom: 0px;
	height: 18px;
	margin-bottom: 56px;
}

#name {
	font-size: 20px;
	margin:0px;
}

#projectname{
	font-size: 20px;
	text-decoration: underline;
  text-decoration-color: #ffaaaa;
	margin:0px;
}

#links{
	font-size: 14px;
	margin: 8px 0px 8px 0px;
	text-align: right;
}

.links{
	margin-bottom: 48px;
}

#name_test {
	font-size: 18px;
	text-align: left;
	width: 29.5%;
	min-width: 248px;
}

.portfolio-grid {
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.portfolio-grid-item,
.header-grid-item,
.footer-grid-item {
	display: inline-block;
	margin-left: 1.25%;
	margin-right: 1.25%;
	width: 29.5%;
	vertical-align: top;
	min-width: 248px;
	text-align: left;
	padding: 0px;
}

#main_grid .portfolio-grid-item img:hover {
	/*opacity: .8;*/
	/*border: 1px solid gray;*/
}

.grid-caption {
	margin-bottom: 48px;
	color: #000000;
}

.portfolio-grid-item a {
	text-decoration: none;
}

.portfolio-grid-item a:hover {
	text-decoration: underline;
}

.categories {
	color: #9f9f9f;
	font-size: 11px;
	/*font-weight: 400;*/
	letter-spacing: .05em;
	margin-top: -8px;
	text-transform: uppercase;
}

.project_paragraph {
	width: 75%;
	margin: 26px auto 26px auto;
	font-size: 18px;
	font-weight: 200;
	line-height: 29px;
}

.filler { }

iframe {
	border: none;
	/*max-width: 640px;*/
	width: 80%;
	height: 480px;
}

img {
	margin: 0 auto;
	width: 100%;
}

.center {
	width: 100%;
	margin: 0 auto;
	background-color: #f0f0f0;
	text-align: center;
	padding-top: 40px;
}

/* for single images */

.center>a>img{
	width: 95%;
	max-width: 300px;
	padding-bottom: 40px;
	margin: 0 auto;
}

.center-wide>a>img{
	padding-bottom: 40px;
	max-width: 560px;
}

.center-mid>a>img{
	padding-bottom: 40px;
	max-width: 480px;
}

.center-small>a>img{
	padding-bottom: 40px;
	max-width: 240px;
}

.center-vid{
	background-color: black;
}


/*** ------------------

	media query stuff

------------------ ***/

@media screen and (max-width:869px) {
	#links {
		color: orange;
		text-align: left;
	}
}


@media screen and (max-width: 560px) {

	/* ----------------------

	FOR RESIZING TWO COLUMNS ON MOBILE

	---------------------- */

	.portfolio-grid-item,
	.header-grid-item,
	.footer-grid-item {
		min-width: 0px;
		width: 44.25%;
	}

	.grid-caption {
		margin-bottom: 24px;
	}

	#footer {
		margin-top: 0px;
		margin-bottom: 24px;
	}

	/* ----------------------

	FOR ONE COLUMN ON MOBILE

	----------------------	*/


/*	.portfolio-grid-item,
	.header-grid-item,
	.footer-grid-item {
		width: 100%;
		display: block;
		margin: 0 auto;
	}

	.grid-caption{
		margin: 0 auto 48px auto;
	}*/

	/*---------------------
	---------------------*/


	.project_paragraph {
		width: 90%;
	}

	.project_info {
		width: 90%;
		margin: 10% auto;
	}

	.home {
		width: 95%;
	}


	iframe {
		height: 300px;
	}

	.question>p {
		width: 95%;
		/*text-align: left;*/
	}


}


/* masonry stuff */

.project_grid{
	padding-top: 2%;
}

.grid-sizer,
.grid-item {
	width: 31.31%;
	margin-bottom: 2%;
}

.grid-item:hover { }

.gutter-sizer{
	width: 3.03%;
}

.grid-item--width2 {
	width: 66%;
}


.emphasis {}

.divider{
	height: 56px;
}

.border {
	border: 1px solid #e0e0e0;
}

/*social media icons on about*/
.fa {
	padding: 10px;
	font-size: 15px;
	width: 15px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
	background: #333;
	color: white;
}

.fa:hover {
		/*opacity: 0.5;*/
		background-color: #fd6d6d;
}


/*blockquote*/
.blockquote {
    border-left-color: inherit;
    border-left: 1px solid rgba(0,0,0,.2);
    margin: 15px auto 15px auto;
    padding-right: 1.3em;
    padding-left: 1.3em;
		width: 75%;
		font-style: italic;
		font-size: 18px;
		line-height: 29px;
}
.caption{
	margin: 15px auto 15px auto;
	width: 100%;
	font-size: 12px;
	color: #686868;
}

.u{
	color: #dedede;
}

.column { /*3-column design*/
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 620px;
}

.twocolumn { /*2-column design*/
  float: left;
  width: 48%;
  height: 500px;
}

.project_subheader {
	width: 75%;
	margin: 16px auto 16px auto;
	font-size: 20px;
	font-weight: 400;
	line-height: 29px;
	color: #fd6d6d;
}
